*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {       
   width: 100%;
   height: 100vh;
   background-image:url('./imag/Penthouse_XI-31.jpg');
   background-position: center;
   background-size: cover;
}
header .content{
    width: 100%;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.content h1 {
    font-size: 60px;
    text-transform: capitalize;
    padding: 10px 0;
}
.content p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.6px;
}
.content a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid #FFF;
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 30px;
    transition: all 1s linear;
}
.content a:hover {
    background-color:whitesmoke;
    border-color:whitesmoke;
}
.toggle {
    display: none;
}
@media (max-width:700px) {
    nav{
        padding: 2px 0;
    }
    .content h1{
        font-size: 30px;
    }
    .content p{
        font-size: 18px;
    }
    .links{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #ed5d0a;
        top: 0;
        right: -100%;
        z-index: 2;
        transition: all 0.8s linear;
    }
    .links ul{
        text-align: center;
        margin-top: 15px;
    }
    .links ul li{
        display: block;
        margin-bottom: 30px;
        font-size: 20px;
        padding: 20px;
    }
    .links ul li:hover::after,
    .links ul li:hover::before{
        transform: scale(0);
    } 
    .toggle{
        display: block;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        margin: 10px;
    }
  
}
footer{
    width: 100%;
    padding: 3px;
    background-color: #ffffff;
    color: #5b5b5b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }